# Xcode
build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.pbuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# User Data
*.user
*.xcuserstate

# Swift PM / Build
.build/
.swiftpm/
